* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
}

* .mobile {
 font-size: 50px;
}

input {
    width: 224px;
}

.content {
    display: flex;
    flex-direction: column;
}

.grid-field {
    display: grid;
}

.anim-button {
    width: 75px;
}

.mobile .anim-button {
    width: 300px;
}

.footer {
    font-size: smaller;
}

button.enabled {
    background-color: rgb(241, 241, 241);
    color: black;
    border-top: 2px solid rgb(228, 228, 228);
    border-left: 2px solid rgb(228, 228, 228);
    border-bottom: 2px solid rgb(65, 65, 65);
    border-right: 2px solid rgb(65, 65, 65);
}

button.disabled {
    background-color: gray;
    color: lightgray;
    cursor: not-allowed;
}

button:active, button.depressed {
    background-color: rgb(209, 209, 209);
    border-top: 2px solid rgb(65, 65, 65);
    border-left: 2px solid rgb(65, 65, 65);
    border-bottom: 2px solid rgb(190, 190, 190);
    border-right: 2px solid rgb(190, 190, 190);
}

.draw-field {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

.overlay {
    position: fixed;
    z-index: 1500;
}